#head{
    text-align: center;
    
}

.sim{
    display: flex;
}

.control{
    margin-top: 30px;
    margin-left: 350px;
   
}

.aa{

    margin-right: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 150px;
}
.outer{

    width: 1200px;
    height: 900px;
    border: 5px solid black;
    margin-left: 12px;
    background-color: greenyellow;
}